{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>LeonelParrales</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officiis eum consequuntur fugiat repudiandae?
            Quae aperiam, libero recusandae non inventore minus assumenda, laudantium ut, totam iste ipsam maxime iusto
            quidem!
        </p>
    </div>

    <div class="col-4">
        <img src="asset/img/logo.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}